.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  z-index: 1000;
}

.dropdown-menu li {
  background: rgb(145, 137, 137);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #3078c4;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
